<% content_for :head do %>
	<%= auto_discovery_link_tag %>
<% end %>

<h3>Cateplaces 新聞文章</h3>

<% if @articles_pages.page_count > 1 %>
	<p class="pagination">頁次: <strong>
		<%= pagination_links @articles_pages, :params => params %>
		</strong>
	</p>
<% end %>

<% @articles.each do |article| %>
	<div class="article">
	<h4><%= article.title %></h4>
	<% if article.category %>
		<p class="category">
			分類：<%= link_to article.category.name, category_articles_path(article.category) %>
		</p>
	<% end %>
	
	<p>
		<%= link_to article.user.f, profile_path(article.user) %> 
			發佈於 <%= article.created_at.to_s(:short) %><br>
		<%= article.synopsis %><br>
		<%= link_to '閱讀全文', article_url(article) %>
	</p>
	</div>
<% end %>