<h3>編輯個人檔案圖片</h3>

<div id="profile_edit">

<div id="profile_show">
<div>目前圖片</div>
<div class="hidden"></div>
	<% if @logged_in_user.avatar.exists? %>
		<%= thumbnail_tag(@logged_in_user) %>
	<% else %>
		<%= default_icon_tag(@logged_in_user) %>
	<% end %>
</div>
	
<div id="profile_show">
<div>上傳圖片</div>
<div class="hidden"></div>
<% form_tag("upload", :multipart => true) do %>
<p>你可以上傳 JPG，GIF 或 PNG 的檔案</p>
<div><%= file_field "avatar", "image" %></div>

<div class="form_row"><input type="checkbox" name="check"> 
	我確認有權發佈此相片並且該相片符合使用條款。</div>

<div class="row button">
	<%= submit_tag '圖片上傳', :disable_with => "上傳中&hellip;", 
		:class => 'button' %>
</div>

<div class="form_row">
	<small>檔案大小上限為 2MB，如上傳失敗，請嘗試較小的圖檔。</small>
</div>
<% end %>
</div>

<% if @logged_in_user.avatar.exists? %>
<div id="profile_show">
<div>移除相片</div>
<div class="hidden"></div>
<% form_tag('delete', :method => 'delete') do %>
<p>您可以移除此圖片，但別忘了上傳新的上來，否則此處將會顯示預設的剪影圖片。</p>
<div class="row button">
	<%= submit_tag '移除相片', :disable_with => "請稍後&hellip;", 
		:class => 'button', :confirm => "你確定要移除這張相片？" %>
</div>
<% end %>
</div>
<% end %>

</div>