<%-
# Locals
group ||= @group
photos ||= @photos
mini ||= false

if mini
	size ||= 5
	photos = group.photos.find :all, :limit => size, :order => 'created_at DESC'
	total = group.photos.count 
	total_gallery = group.galleries.count -%>

<h3>最近上傳的相片</h3>
<%- unless photos.empty? -%>
  <span class="left">顯示最近的 <%= photos.size %> 張相片，共有 <%= link_to "#{total_gallery} 本相簿", group_galleries_path(group) %> 和 <%= total > size ? link_to( total, group_galleries_path(group)) : total%> 張相片</span>
  <span class="right">
    <%= link_to '顯示全部', group_galleries_path(group) %>
    <% if can_participate? %>
      | <%= link_to '新增相片', group_galleries_path(group) %>
    <% end %>
  </span>
  <div class="clear"></div>

  <% photos.each do |photo|%>
  <div class="image left">
    <div>
	   <%= link_to image_tag(photo.public_filename('small')), 
	          	   group_photo_path(photo.owner, photo) %>
    </div>
    <%= link_to "(刪除此相片)", group_photo_path(photo.owner, photo), 
    					:method => :delete, 
    					:confirm => "你確定要刪除這張相片嗎？" if manager? || is_me?(photo.creator) %>
  </div>
  <% end %>
<%- else -%>
  <p>目前尚無上傳相片。
  <% if is_logged_in? && group.can_participate?(logged_in_user) %>
    <%= link_to '新增相片', group_galleries_path(group) %>。
  <% end %></p>
<%- end -%>

<%- else -%>

<li>
	<%= link_to image_tag(photo.public_filename('thumb')), 
					group_photo_path(photo.owner, photo), 
					:title => "#{photo.gallery.title}" %>
</li>
<%- end -%>