<div class='profile-public'>
	<div class='profile-info'>
	    <div class='group-info-left'>
			<%= image_link group, :class => "photo", :image => :small %>
            <%= '<br/>' + '(私人群組)' if group.mode == Group::PRIVATE %>
            <%= '<br/>' + '(隱藏群組)' if group.mode == Group::HIDDEN %> 
        </div>
        <div class='group-info-right'>
        	<div class='profile-name'><%= link_to(group.name, group_path(group)) %> 
        		<small>(建立於 <%= time_ago_in_words(group.created_at) %> 前)</small>
        	</div>
            <div><%= display(truncate(group.description, 120), :class => "note") %></div>
        </div>
    </div>
</div>
<div class='profile-divider'></div>
