<%- column_div :type => :primary do -%>
  <% unless @users.empty? -%>
    <h3>瀏覽最近活躍的使用者</h3>
    <%= will_paginate %>
    <ul class="list people">
      <%= render :partial => @users %>
    </ul>
    <%= will_paginate %>
  <% end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>