<li class="list gallery">
  <div class="profile-image">
  <%= link_to image_tag(gallery.thumb_url), gallery_path(gallery) %>
  </div>
  
  <p>
  <%= link_to h(gallery.title), gallery_path(gallery), :class => 'gallery_title' %>
    <% if params[:controller] == "users" or !params[:user_id].nil?  %>
      <%- if is_logged_in? && logged_in_user?(gallery.owner) -%>
	      <%= link_to image_tag("icons/picture_edit.png", :class => 'actioner'),  
	      	 			edit_user_gallery_path(gallery.owner, gallery),:title => "編輯相簿內容" %>
	      <%= link_to image_tag("icons/picture_delete.png", :class => 'actioner'), 
	                  gallery, :method => :delete, 
	                  :confirm => "你確定要刪除這個相簿嗎？這會刪除相簿內的所有相片",
	                  :title => "刪除這本相簿" if @parent.galleries.count > 1 %>
      <%- end -%>
    <% elsif params[:controller] == "groups" or !params[:group_id].nil? %>
      <%- if is_logged_in? && (gallery.owner.can_edit?(logged_in_user) || logged_in_user?(gallery.creator)) -%>
	      <%= link_to image_tag("icons/picture_edit.png", :class => 'actioner'),  
	      	 			edit_group_gallery_path(gallery.owner, gallery),:title => "編輯相簿內容" %>
	      <%= link_to image_tag("icons/picture_delete.png", :class => 'actioner'), 
	                  gallery, :method => :delete, 
	                  :confirm => "你確定要刪除這個相簿嗎？這會刪除相簿內的所有相片",
	                  :title => "刪除這本相簿" if @parent.galleries.count > 1 %>
    	<%- end -%>
    <% end %>
    <%= display gallery.short_description %>
  </p>

  <p class="meta">共有 <%= h(gallery.photos_count) %> 張相片</p>
  <p class="meta">拍照地點：<%= h(gallery.location) %></p>
  <p class="meta">建立於 <%= gallery.created_at.strftime('%y年%m月%d日') %></p>
  <p class="meta"><%= link_to "查看相簿", gallery_path(gallery) %></p>
</li>