<% content_for :head do  -%>
  <%#= auto_discovery_link_tag :rss, formatted_profile_blogs_url(@user, :rss), :title => _('%{user_name}\'s Blog') % {:user_name => @user.f} %>
<% end -%>

<%= javascript_include_tag 'jquery', 'prototype', 'effects' %>

<%- column_div :type => :primary do -%>
  <h3><%= @user.name %> 的網誌</h3>
  <%= link_to "回到 #{@user.short_name} 的文章", profile_notes_path(@user) %>
  <% if @note.can_edit?(logged_in_user) -%>
    | <%= link_to "編輯文章", edit_user_note_path(@user, @note) -%>
	 | <%= link_to "刪除文章", user_note_path(@user, @note), :method => :delete -%>
  <%- end -%>
  <%= render :partial => 'news/news_item', :object => @news_item -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'profile/notes_history', :locals => {:bio => true} %>
<%- end -%>