<h3>新增相片</h3>

<%= error_messages_for :picture %>

<h4>選擇相片上傳</h4>
<% form_for @picture, :url=>{:controller => :pictures, :action => :create, :gallery_id => @gallery}, 
				:html => { :multipart => true } do |f| -%>

  <p><b>選擇圖片：</b><br>
    <%= f.file_field :uploaded_data %>
  </p>
  
  <p><b>圖片標題：</b><br>
    <%= f.text_field :title %>
  </p>
  
  <div class="row button">
    <%= submit_tag '上傳圖片', :class => 'button' %> 或
    <%= link_to '取消', @gallery, :class => "button", :id => "cancel" %>
  </div>
<% end -%>