<h3>重設密碼</h3>

<%= error_messages_for :user %>

<div id="profile_show">
<p>請輸入一組新的密碼。</p>
<% form_for :user, :html => { :method => :post } do |f| -%>
	<div class="form_row">新密碼：<br><%= f.password_field :password, 
		:size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH -%></div>
		
	<div class="form_row">確認密碼：<br><%= f.password_field :password_confirmation, 
		:size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH -%></div>
		
	<%= hidden_field_tag "attribute", "密碼", :id => nil -%>
	
	<div class="row button">
		<%= submit_tag '更改密碼', :class => 'button' -%>
	</div>
<% end -%>
</div>