<%- column_div :type => :primary do -%>
  <h3>建立相簿</h3>
  
  <%= error_messages_for :gallery %>

  <%- form_for(@gallery) do |f| -%>
    <div class="form_row">
      <label for="title">相簿標題：</label>
      <%= f.text_field :title %>
    </div>
    
    <%= set_focus_to "gallery_title" %>
    
    <div class="form_row">
      <label for="location">拍攝地點：</label>
      <%= f.text_field :location %>
    </div>

    <div class="form_row">
      <label for="description">相簿敘述：</label>
      <%= formatting_note %>
      <%= f.text_area :description, :rows => 8, :cols => 60 %>
    <div>
    
    <div class="form_row">
    	<label for="privacy">哪些人可以看得到？</label>
    	<% if params[:controller] == "users" or !params[:user_id].nil?  %>
    		<%= f.select :privacy, [["所有人", Gallery::PRIVACY[:public]],["我的朋友", Gallery::PRIVACY[:friends]],["只有我自己", Gallery::PRIVACY[:me]]] %>
    	<% elsif params[:controller] == "groups" or !params[:group_id].nil? %>
    		<%= f.select :privacy, [["所有人", Gallery::PRIVACY[:public]],["群組成員", Gallery::PRIVACY[:friends]],["只有我自己", Gallery::PRIVACY[:me]]] %>
    	<% end %>
    </div>
    
    <%= hidden_field_tag :parent, params[:group_id].nil? ? "user" : "group"  %>
    <%= hidden_field_tag :parent_id, params[:group_id].nil? ? params[:user_id] : params[:group_id] %>

    <div class="row button">
      <%= f.submit "建立相簿", :class => "button" %> 或
      <% if params[:controller] == "users" or !params[:user_id].nil?  %>
      	<%= link_to "返回個人相簿", user_galleries_path(logged_in_user) %>
      <% elsif params[:controller] == "groups" or !params[:group_id].nil? %>
     		<%= link_to "返回群組相簿", group_galleries_path(@group) %>
      <% end %>
    </div>
  <%- end -%>
<%- end -%>
