<%- column_div :type => :primary do -%>
<h3>我和 <%= @user.f %> 共同的朋友</h3>
<% unless @common_friends.empty? -%>
  <%= will_paginate(@common_friends) %>
  <ul class="list people">
    <%= render :partial => 'profile/user',
               :collection => @common_friends %>
  </ul>
  <%= will_paginate(@common_friends) %>
<% else %>
  <h3>沒有任何共同的朋友.</h3>
<% end -%>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
