<%-
photo ||= @photo
user ||= @user
wall_comments ||= @wall_comments
total = photo.wall_comments_count

parent ||= @parent
parent = @photo || nil
-%>

<h3>回應相片</h3>
<% if total > 0 %>
  <span class="left">顯示全部 <%= total %> 則留言</span>
<% else %>
  <span class="left">相片目前尚無留言。</span>
<% end %>
  
<%- if is_logged_in? -%>
<% if photo.owner_type == "User" %>
	<%- if logged_in_user.friends.include?(photo.owner) or logged_in_user?(photo.owner) -%>
		<a name="add-photo-comment"></a>
		<span class="right">
		  <%= inline_tb_link("回應這張相片", "new_comment", :title => "回應 #{photo.owner.name} 的相片 - #{photo.gallery.title}") %>
		</span>
		<div class="clear"></div>
		
		<div id="<%= "new_comment_form_for_#{dom_id(parent)}" %>">
			<%= render :partial => 'user_photos/form' %>
		</div>
		<div id="<%= "new_comment_form_for_#{dom_id(parent)}" %>">
			<%= render :partial => 'user_photos/hidden_form', :locals => {:with_form => true} %>
		</div>
	<% end %>
<% elsif photo.owner_type == "Group" %>
	<%- if photo.owner.can_participate?(logged_in_user) -%>
		<a name="add-photo-comment"></a>
		<span class="right">
		  <%= inline_tb_link("回應這張相片", "new_comment", :title => "回應 #{photo.owner.name} 的相片 - #{photo.gallery.title}") %>
		</span>
		<div class="clear"></div>
		
		<div id="<%= "new_comment_form_for_#{dom_id(parent)}" %>">
			<%= render :partial => 'user_photos/form' %>
		</div>
		<div id="<%= "new_comment_form_for_#{dom_id(parent)}" %>">
			<%= render :partial => 'user_photos/hidden_form', :locals => {:with_form => true} %>
		</div>
	<% end %>
<% end %>
<%- else -%>
  <div class="clear"></div>
  <div class="notice">你必須先<%= link_to '登入', login_url %>或<%= link_to '註冊', signup_url %>才能夠發表回應</div>
<%- end -%>

<a name="photo-comment"></a>
<div id="<%= "comments_for_#{dom_id(parent)}" %>">
 	<% photo.wall_comments.each do |c| %>
		<%= render :partial => "wall_comments/comment", :locals => { :comment => c } %>
  <% end %>
</div>
   