<% user ||= @user %>
<div id="profile_edit">
<div>基本資訊
	<% if is_logged_in? and user.id == logged_in_user.id %>
		(<%= link_to '編輯/更改', edit_info_path(logged_in_user) %>)
	<% end %>
</div>
	<div class="hidden"></div>
	<% unless user.info.gender.blank? %>
		<% if user.info.show_gender == true %><div><strong>性別: </strong><%= user.info.gender %></div>
		<% else %><div><strong>性別: </strong>使用者不公開</div>
		<% end %>
	<% end %>
	<% unless user.info.birthday.blank? %><div><strong>年齡: </strong><%= user.info.age %></div><% end %>
	<% unless user.info.birthday.blank? %>
		<% if user.info.show_birthday == true %><div><strong>生日: </strong><%= user.info.birthday %></div>
		<% else %><div><strong>生日: </strong>使用者不公開</div>
		<% end %>
	<% end %>
	<% unless user.info.hometown.blank? %><div><strong>家鄉: </strong><%= user.info.hometown %></div><% end %>
	<% unless user.info.affection.blank? %><div><strong>感情狀態: </strong><%= user.info.affection %></div><% end %>
	<% unless user.info.polity.blank? %><div><strong>政治觀: </strong><%= user.info.polity %></div><% end %>
	<% unless user.info.religion.blank? %><div><strong>宗教信仰: </strong><%= user.info.religion %></div><% end %>
</div>